:root {
  --regular-text: #818181;
  --primary-text: #787878;
  --secondary-text: #9e9e9e;
  --Placeholder-text: #afafb0;
  --disabled-text: #6c6e72;

  --dark-border: #58585b;
  --base-border: #4c4d4f;
  --light-border: #414243;
  --lighter-border: #363637;

  --dark-fill: #39393a;
  --base-fill: #303030;
  --light-fill: #737373;
  --lighter-fill: #868686;

  --base-background: #eaeaea;
  --hover-background: #cfcfcf;
  --light-background: #f8f8f8;
  --dark-background: #c4c4c4;
  --hover-dark-background: #898989;
}

* {
  font-family: "LXGW WenKai", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
}
